# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variable files
.env

# Ignore virtual environment folders
venv/
.envrc

# Ignore OS files
.DS_Store
Thumbs.db
